<div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0">
          <% flash.each do |name, msg|%>
            <%= content_tag(:div, msg, class: "alert alert-info") %>
          <% end %>
      </div>
      </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h1>Posts</h1>
        <%= link_to 'New Post', new_post_path, class: "btn btn-info" %>
      </div>
      <div class="panel-body">
        <p></p>
      </div>

      <!-- Table -->
      <table class="table">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Descripcion</th>
          <th>Likes</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.titulo %></td>
            <td><%= post.descripcion %></td>
            <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><%= post.likes %></td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div><!-- /.container -->